Source: gdb
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Section: devel
Priority: standard
Standards-Version: 3.6.2
Build-Depends: autoconf, libtool, texinfo (>= 4.7-2.2), tetex-bin, libncurses5-dev, libreadline4-dev (>= 4.2a-1), bison, gettext, debhelper (>= 4.9.0), quilt (>= 0.30-1), type-handling (>= 0.2.1), libunwind7-dev [ia64], flex | flex-old

Package: gdb-arm-linux-gnu
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: The GNU Debugger
 GDB is a source-level debugger, capable of breaking programs at
 any specific line, displaying variable values, and determining
 where errors occurred. Currently, it works for C, C++, Fortran
 Modula 2 and Java programs. A must-have for any serious
 programmer.

Package: gdbserver
Architecture: arm
Section: devel
Depends: ${shlibs:Depends}
Description: The GNU Debugger
 This package contains gdbserver for the target architecture.

Package: gdb
Architecture: arm
Section: devel
Depends: ${shlibs:Depends}
Description: The GNU Debugger
 This package contains full target gdb for the target architecture.

Package: gdb-source
Architecture: all
Section: devel
Depends: autoconf, libtool, bison, quilt (>= 0.30-1), flex
Description: The GNU Debugger - source package
 GDB is a source-level debugger, capable of breaking programs at
 any specific line, displaying variable values, and determining
 where errors occurred. Currently, it works for C, C++, Fortran
 Modula 2 and Java programs. A must-have for any serious
 programmer.
 .
 This package contains source code archive of the GNU debugger
 suitable for building binary packages. Needed by cross-toolchain
 build system.

